@font-face {
    font-family: 'Helvetica Neue Cyr Black';
    src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.eot');
    src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/RobotoLight/Roboto-Light.eot');
    src: url('../fonts/RobotoLight/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoLight/Roboto-Light.woff') format('woff'),
    url('../fonts/RobotoLight/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/RobotoRegular/Roboto-Regular.eot');
    src: url('../fonts/RobotoRegular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoRegular/Roboto-Regular.woff') format('woff'),
    url('../fonts/RobotoRegular/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/RobotoMedium/Roboto-Medium.eot');
    src: url('../fonts/RobotoMedium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoMedium/Roboto-Medium.woff') format('woff'),
    url('../fonts/RobotoMedium/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/RobotoBold/Roboto-Bold.eot');
    src: url('../fonts/RobotoBold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoBold/Roboto-Bold.woff') format('woff'),
    url('../fonts/RobotoBold/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}