@media screen and (max-width: 1500px){
    .main-top .inner .count{
        width: 300px;
        height: 230px;
    }
    .main-top .inner .count p{
        bottom: 20px;
        font-size: 30px;
    }
    #bottom .left, #bottom .right{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 60px 20px;
    }
    #bottom .left p{
        margin: 30px 0 0;
        text-align: center;
    }
    #bottom .right div.text{
        margin: 30px 0 0;
        text-align: center;
        max-width: 80%;
    }
    .main-top .inner{
        padding: 3% 5% 20px;
    }
}
@media screen and (max-width: 1300px){
    .main-top{
        height: auto;
    }
    .main-top .inner{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .main-top .button p{
        font-size: 16px;
    }
    #bottom .left p, #bottom .right div.text p{
        font-size: 25px;
    }
    #bottom .right div.text span{
        font-size: 16px;
    }
}
@media screen and (max-width: 1100px){
    .main-top .inner{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .main-top .inner .text{
        width: 100%;
        margin-bottom: 5%;
    }
    .main-top .inner .count{
        margin: 140px auto 30px;
    }
    .main-top .inner .text h1, .main-top .inner .text h2{
        font-size: 40px;
    }
    .main-top .inner .text p{
        font-size: 20px;
    }
    .main-top .inner .text h3{
        font-size: 28px;
    }
    .main-top .inner .text h3 .number{
        font-size: 33px;
    }
    .main-top .inner .text h3 .time{
        font-size: 22px;
    }
    .main-top .button a{
        font-size: 28px;
        height: 55px;
        margin-bottom: 15px;
        width: 450px;
    }
}
@media screen and (max-width: 767px){
    #bottom{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #bottom .left, #bottom .right{
        width: 100%;
        padding: 60px 0px;
    }
    #bottom .right{
        border-left: none;
        border-top: 1px solid #fff;
    }
}
@media screen and (max-width: 640px){
    .main-top .inner .text h1, .main-top .inner .text h2 {
        font-size: 36px;
    }
    .main-top .button a {
        font-size: 26px;
        width: 70%;
    }
    .main-top .button p {
        width: 50%;
        margin-left: 25%;
    }
}
@media screen and (max-width: 500px){
    .main-top .button p {
        width: 80%;
        margin-left: 10%;
    }
    .main-top .inner .text h1, .main-top .inner .text h2{
        font-size: 30px;
    }
    .main-top .inner .text p {
        font-size: 16px;
    }
    .main-top .inner .text h3 {
        font-size: 22px;
    }
    .main-top .inner .text h3 .number {
        font-size: 28px;
    }
    .main-top .inner .text h3 .time {
        font-size: 16px;
    }
    .main-top .inner .count {
        width: 250px;
        height: 200px;
    }
    .main-top .inner .count p {
        bottom: 10px;
        font-size: 22px;
    }
    .main-top .button a {
        font-size: 24px;
        width: 300px;
        height: 48px;
    }
}
@media screen and (max-width: 420px){
    .main-top .inner .count span{
        font-size: 150px;
    }
    .main-top .inner .count .top, .main-top .inner .count .top2{
        height: 103px;
        margin-top: -103px;
    }
    .main-top .inner .count{
        height: 170px;
        width: 200px;
    }
    #bottom .left img{
        width: 80%;
    }
}