*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto Regular';
    color: #fff;
}
.main-top{
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.main-top .inner{
    padding: 7% 7.5% 50px;
    position: relative;
}
.main-top .inner .text{
    width: calc(100% - 370px);
    float: left;
}
.main-top .inner .text h1,
.main-top .inner .text h2{
    font-size: 3.65vw;
    text-transform: uppercase;
    font-family: 'Roboto Bold';
}
.main-top .inner .text h1{
    margin: 0;
}
.main-top .inner .text h2{
    color: #f0e353;
    max-width: 890px;
}
.main-top .inner .text h1 span,
.main-top .inner .text h2 span{
    text-transform: none;
}
.main-top .inner .text p{
    font-size: 1.88vw;
    font-family: 'Roboto Light';
    color: #fff;
}
.main-top .inner .text h3{
    font-family: 'Roboto Regular';
    color: #fff;
    font-size: 2.6vw;
    position: relative;
    padding-left: 23px;
    margin-top: 7.5%;
}
.main-top .inner .text h3::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background-color: #f0e353;
}
.main-top .inner .text h3 .number{
    font-size: 3.1vw;
    font-family: 'Roboto Medium';
}
.main-top .inner .text h3 .slash{
    font-family: 'Roboto Light';
}
.main-top .inner .text h3 .time{
    font-family: 'Roboto Light';
    font-size: 30px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.main-top .inner .count{
    width: 364px;
    float: right;
    height: 285px;
    border: 2px solid #fff;
    border-top: 1px solid #fff;
    color: #fff;
    position: relative;
    -webkit-perspective: 500px;
            perspective: 500px;
    margin-top: 140px;
}
.main-top .inner .count .top,
.main-top .inner .count .top2{
    height: 138px;
    border-bottom: 1px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    background-color: #34507f;
    width: calc(100% + 4px);
    margin-left: -2px;
    margin-top: -138px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
}
.main-top .inner .count .top{
    z-index: 10;
}
.main-top .inner .count .top.animated{
    -webkit-animation: fold infinite 5s;
            animation: fold infinite 5s;
}
@-webkit-keyframes fold{
    0%{
        border-top: 2px solid #fff;
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        -webkit-transform: perspective(10000px) rotateX(0deg);
                transform: perspective(10000px) rotateX(0deg);
    }
    100%{
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        -webkit-transform: perspective(10000px) rotateX(-180deg);
                transform: perspective(10000px) rotateX(-180deg);
        border-top: 2px solid #fff;
    }
}
@keyframes fold{
    0%{
        border-top: 2px solid #fff;
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        -webkit-transform: perspective(10000px) rotateX(0deg);
                transform: perspective(10000px) rotateX(0deg);
    }
    100%{
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        -webkit-transform: perspective(10000px) rotateX(-180deg);
                transform: perspective(10000px) rotateX(-180deg);
        border-top: 2px solid #fff;
    }
}
@-webkit-keyframes first-index{
    0%{
        z-index: 2;
    }
    98%{
        z-index: 15;
    }
    100%{
        z-index: 15;
    }
}
@keyframes first-index{
    0%{
        z-index: 2;
    }
    98%{
        z-index: 15;
    }
    100%{
        z-index: 15;
    }
}
@-webkit-keyframes fold-second{
    0%{
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        -webkit-transform: perspective(10000px) rotateX(0deg) translateX(-50%);
                transform: perspective(10000px) rotateX(0deg) translateX(-50%);
    }
    44%{
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        -webkit-transform: perspective(10000px) rotateX(-106deg) translateX(-50%);
                transform: perspective(10000px) rotateX(-106deg) translateX(-50%);
    }
    100%{
        opacity: 0;
        -webkit-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
        -webkit-transform: perspective(10000px) rotateX(-106deg) translateX(-50%);
                transform: perspective(10000px) rotateX(-106deg) translateX(-50%);
    }
}
@keyframes fold-second{
    0%{
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        -webkit-transform: perspective(10000px) rotateX(0deg) translateX(-50%);
                transform: perspective(10000px) rotateX(0deg) translateX(-50%);
    }
    44%{
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        -webkit-transform: perspective(10000px) rotateX(-106deg) translateX(-50%);
                transform: perspective(10000px) rotateX(-106deg) translateX(-50%);
    }
    100%{
        opacity: 0;
        -webkit-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
        -webkit-transform: perspective(10000px) rotateX(-106deg) translateX(-50%);
                transform: perspective(10000px) rotateX(-106deg) translateX(-50%);
    }
}
@-webkit-keyframes fold-third{
    0%{
        opacity: 0;
        -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
        -webkit-transform: perspective(1000px) rotateX(90deg) translateX(-50%);
                transform: perspective(1000px) rotateX(90deg) translateX(-50%);
    }
    20%{
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-transform: perspective(10000px) rotateX(90deg) translateX(-50%);
                transform: perspective(10000px) rotateX(90deg) translateX(-50%);
    }
    39%{
        opacity: 0;
    }
    40%{
        opacity: 1;
        z-index: 1;
    }
    50%{
        z-index: 12;
        opacity: 1;
    }
    100%{
        opacity: 1;
        -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
        -webkit-transform: perspective(1000px) rotateX(0deg) translateX(-50%);
                transform: perspective(1000px) rotateX(0deg) translateX(-50%);
        z-index: 12;
    }
}
@keyframes fold-third{
    0%{
        opacity: 0;
        -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
        -webkit-transform: perspective(1000px) rotateX(90deg) translateX(-50%);
                transform: perspective(1000px) rotateX(90deg) translateX(-50%);
    }
    20%{
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-transform: perspective(10000px) rotateX(90deg) translateX(-50%);
                transform: perspective(10000px) rotateX(90deg) translateX(-50%);
    }
    39%{
        opacity: 0;
    }
    40%{
        opacity: 1;
        z-index: 1;
    }
    50%{
        z-index: 12;
        opacity: 1;
    }
    100%{
        opacity: 1;
        -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
        -webkit-transform: perspective(1000px) rotateX(0deg) translateX(-50%);
                transform: perspective(1000px) rotateX(0deg) translateX(-50%);
        z-index: 12;
    }
}
.main-top .inner .count span{
    position: absolute;
    font-size: 180px;
    font-family: 'Roboto Light';
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -101px;
    z-index: 1;
}
span#first{
    height: 100px;
    overflow: hidden;
    z-index: 2;
}
span#second{
    height: 100px;
    overflow: hidden;
    z-index: 10;
}
span#third::after, span#forth::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #34507f;
    display: block;
    z-index: 1;
}
span#first.animated{
    -webkit-animation: first-index infinite 5s;
            animation: first-index infinite 5s;
}
span#second.animated{
    -webkit-animation: fold-second infinite 5s;
            animation: fold-second infinite 5s;
    z-index: 10;
}
span#third.animated{
    -webkit-animation: fold-third infinite 5s;
            animation: fold-third infinite 5s;
}
.main-top .inner .count p{
    font-size: 38px;
    font-family: 'Roboto Light';
    position: absolute;
    bottom: 50px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
.main-top .button{
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
    position: relative;
}
.main-top .button a{
    font-size: 2.6vw;
    color: #f0e353;
    font-family: 'Roboto Medium';
    text-transform: uppercase;
    text-decoration: none;
    width: 42%;
    height: 5vw;
    border: 2px solid #f0e353;
    display: block;
    margin: 0 auto;
    line-height: 2;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
    margin-bottom: 35px;
}
.main-top .button a:hover{
    color: #fff;
    border: 2px solid #fff;
    background-color: #f0e353;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
.main-top .button p{
    font-family: 'Roboto Light';
    font-size: 22px;
}
.main-top .button .arrow{
    display: block;
    margin: 0 auto;
    width: 45px;
    height: 45px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotateX(45deg) translateX(-50%);
    -moz-transform: rotate(45deg) translateX(-50%);
    -ms-transform: rotate(45deg) translateX(-50%);
    -webkit-transform: rotate(45deg) translateX(-50%);
    -o-transform: rotate(45deg) translateX(-50%);
    -webkit-animation: arrow infinite 2s;
            animation: arrow infinite 2s;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 50%;
    bottom: -50px;
    margin-left: -7px;
}
@-webkit-keyframes arrow{
    0%, 100%{
        bottom: -50px;
    }
    50%{
        bottom: -100px;
    }
}
@keyframes arrow{
    0%, 100%{
        bottom: -50px;
    }
    50%{
        bottom: -100px;
    }
}
#bottom{
    border-top: 1px solid #fff;
    background-color: #55719f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#bottom .left, #bottom .right{
    width: 50%;
    display: inline-block;
    padding: 110px 20px;
    text-align: center;
}
#bottom .right{
    border-left: 1px solid #fff;
    border-collapse: collapse;
}
#bottom .left p{
    display: inline-block;
    max-width: 275px;
    vertical-align: top;
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Roboto Regular';
    margin-left: 40px;
    -ms-text-align-last: auto;
    text-align: left;
}
#bottom .right div{
    display: inline-block;
    vertical-align: top;
}
#bottom .right div.z{
    width: 126px;
    height: 126px;
    border-radius: 50%;
    border: 6px solid #fff;
    position: relative;
}
#bottom .right div.z::after{
    content: 'z';
    font-size: 160px;
    font-family: 'Helvetica Neue Cyr Black';
    position: absolute;
    top: -41px;
    left: -12px;
    width: 100%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
#bottom .right div.text{
    margin-left: 5%;
    max-width: 57%;
    text-align: left;
}
#bottom .right div.text p{
    font-size: 35px;
    font-family: 'Roboto Regular';
    text-transform: uppercase;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
#bottom .right div.text span{
    font-family: 'Roboto Light';
    font-size: 22px;
    line-height: 1.3;
}